name: Sync translations

on:
  push:
    branches: [ main ]

jobs:
  sync-translations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: /actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Upload sources
        uses: crowdin/github-action@5587c43 # v2.14.1
        with:
          upload_sources: true
          upload_translations: false
          download_translations: false
          crowdin_branch_name: main
        env:
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
